 <section class="banner">
            <h1 class="banner__title">{{ index.banner.heading.part_1 }} <span class="banner__title-highlighted">{{ index.banner.heading.part_2 }}</span> {{ index.banner.heading.part_3 }}</h1>
            <p class="banner__description">{{ index.banner.text }}</p>
            <p>
                <span class="banner__counter">{{ index.banner.counter_1.number }}</span>
                <span class="banner__subtext">{{ index.banner.counter_1.text }}</span>
            </p>
            <p>
                <span class="banner__counter">{{ index.banner.counter_2.number }}</span>
                <span class="banner__subtext">{{ index.banner.counter_2.text }}</span>
            </p>
            <a href="#" class="button button__secondary">{{ index.banner.connect_button }}</a>
            <a href="#" class="button button__primary">{{ index.banner.whitelist_button }}</a>
        </section>
        