<aside class="sidebar">
    <div>
        <h2 class="sidebar__title">{{ blog.sidebar.text }}</h2>
        <ul class="sidebar__list">
            {% for link in blog.sidebar.categories %}
            <li>
                <a href="{{ link.href }}" class="link link--tertiary sidebar__list-item">{{ link.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2 class="sidebar__title">{{ blog.sidebar.text_2 }}</h2>
        <ul class="sidebar__tags">
            {% for tag in blog.sidebar.tags %}
            <li>
                <a href="{{ tag.href }}" class="sidebar__tags-item tags__button button--primary button--small">{{ tag.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>