{% from '../macro/macro_picture.twig' import picture %}
{% from '../macro/icon.twig' import icon %}
<article class="blog-item">
    <div>
        {{ picture(
        'blog-item__picture',
        item.image,
        item.image_alt,
        736,
        664
        ) }}
        <span class="label label--available">{{ item.category }}</span>
    </div>
    <span class="blog-item__author">
        {{ icon("blog-item__icon","men", 16,16) }}
        {{ item.author }}
    </span>
    <time class="blog-item__time">
        {{ icon("blog-item__icon","calendar", 16,16) }}
        {{ item.date }}
    </time>
    <p class="blog-item__title"><strong>{{ item.title }}</strong></p>
    <p class="blog-item__text">{{ item.text }}</p>
    <a class="button button--primary button--medium" href="#">{{ index.blog.button_primary }}  {{ icon("blog-item__icon", "arrow_right", 24, 24) }}</a>
</article>