{% from '../macro/macro_picture.twig' import picture %}
<article class="blog-item">
    <div>
        {{ picture(
        'blog-item__picture',
        item.image,
        item.image_alt,
        736,
        664
        ) }}
        <span class="label label--available">{{ item.category }}</span>
    </div>
    <span class="blog-item__author">{{ item.author }}</span>
    <time class="blog-item__time">{{ item.date }}</time>
    <p class="blog-item__title"><strong>{{ item.title }}</strong></p>
    <p class="blog-item__text">{{ item.text }}</p>
    <a class="button button--primary button--medium" href="#">{{ index.blog.button_primary }} ></a>
</article>