<form action="/search_catalog" method="get">
    <div class="form-field">
        <label>
            <select name="{{ catalog.controls.select.name }}" id="{{ catalog.controls.select.id }}" class="select">
                {% for option in catalog.controls.select.options %}
                <option value="{{ option.value }}">{{ option.text }}</option>
                {% endfor %}
            </select>
            <span class="form-field__icon form-field__icon--arrow"></span>
        </label>
    </div>

    <div class="form-field">
        <label>
            <input id="{{ catalog.controls.search.id }}" type="{{ catalog.controls.search.type }}"
                class="form-field__element" name="{{ catalog.controls.search.name }}"
                placeholder="{{ catalog.controls.search.placeholder }}">
            <span class="form-field__icon form-field__icon--search"></span>
        </label>
    </div>
    <button type="submit" hidden></button>
</form>