{% from '../macro/macro_picture.twig' import picture %}
<article class="catalog-item">
    <div>
        {{ picture(
        'catalog-item__image catalog-item__image',
        item.image,
        item.image_alt,
        253,
        324
        ) }}
        {% if item.status == "new" %}
        <span class="label label--available">
            {{ index.catalog.items_status_new }}
        </span>
        {% endif %}

        {% if item.status == "sold" %}
        <span class="label label--sold">
            {{ index.catalog.items_status_sold }}
        </span>
        {% endif %}
    </div>
    <p class="catalog-item__price">{{ item.price }}</p>
    <p class="catalog-item__name">{{ item.name }}</p>
</article>