<form method="post" action="url" class="contact-form">
     <h2 class="contact-form__title">{{ contact.form.title }}</h2>
     <p class="contact-form__subtitle">{{ contact.form.subtitle }}</p>
     {% for field in contact.form.fields %}
          {% if field.type == "radio" %}
               {% include "../partials/sex_form_radio.twig" %}
          {% else %}
               {% include "../partials/reqistration_form.twig" %}
          {% endif %}
     {% endfor %}

     <input type="checkbox" id="{{ contact.form.submit.name }}" class="contact-form__checkbox" />
     <label for="{{ contact.form.submit.name }}" class="contact-form__label">{{ contact.form.submit.label }}</label>
     <button type="submit" class="contact-form__button button button--secondary button--large">
          {{ contact.form.submit.button }}
     </button>
</form>