<li class="contact-info__card-list button button--primary button--large">
    <a href="{{ card.link }}" class="contact-info__link">
        <img class="contact-info__icon" src="{{ card.image_icon }}" alt="{{ card.image_alt }}">
        <p class="contact-info__title">{{ card.title }}</p>
        <p class="contact-info__subtitle">{{ card.subtitle }}</p>
    </a>
</li>