{% from '../macro/icon.twig' import icon %}

<footer class="footer">
    <a class="footer-logo" href="#">
        {{ icon("footer-logo__picture", "logo_blue", 188, 42) }}
        {# <img class="footer-logo__picture" src="{{ footer.logo.icon }}" alt="{{ footer.logo.alt }}"> #}
    </a>
    <p class="footer__slogan">{{ footer.logo.slogan }}</p>
    <nav>
        <h2 class="footer__subtitle">{{ footer.nav.title }}</h2>
        <ul class="footer__nav-list">
            {% for link in footer.nav.links %}
            <li>
                <a class="link link--tertiary" href="{{ link.href }}">{{ link.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <hr>
    <p class="footer__rights">{{ footer.text_rights }}</p>
    <div>
        <ul class="footer-social">
            {% for link in footer.social %}
            <li>
                <a class="button button--ghost button--small footer-social__icon" href="{{ link.href }}">
                    {{ icon("footer-social__logo", link.icon, 24,24) }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</footer>