<label for="{{ field.label }}" class="input-field-edit__label">
    {{ field.label }}
</label>
<br/>
<input class="input-field-edit__field"
    name="{{ field.name }}"
    id="{{ field.name }}"
    type="{{ field.type }}"
    placeholder="{{ field.placeholder }}"
    pattern="{{ field.pattern }}"
    required>
<br />
