{% from 'ui/icon.twig' import icon %}
<header class="header">
    <div class="content-wrapper">
         {{ icon('','logo') }} <img class="header__logo"
            src="{{ header.logo.icon }}" alt="{{ header.logo.alt }}">
        <nav class="header__nav">
            <ul class="header__nav-list">
                {% for link in header.links %}
                <li>
                    <a class="link link--tertiary header__nav-item {% if link.active %} header__nav-item--active {% endif %}"
                        href="{{ link.href }} ">{{ link.label }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <div>
            <form action="/search" method="get">
                {% include "ui/form/input.twig" with {field: header.search} %}
                <button type="submit" hidden></button>
            </form>

            <a href="#" class="button button--primary button--large">
                {{ icon( 'discord', 24, 24) }}
                <img src="{{ header.default_button.icon }}" alt="{{ header.default_button.alt }}">
                <span>{{ header.default_button.text }}</span>
            </a>
            <a class="button button--secondary button--large">
                <img src="{{ header.primary_button.icon }}" alt=" {{ .header.primary_button.alt }}">
                <span>{{ header.primary_button.text }}</span>
            </a>
        </div>
    </div>
</header>