{% from '../macro/macro_picture.twig' import picture %}
<li class="team__item personal-card">
    {{ picture(
    'personal-card__picture',
    member.image,
    member.image_alt,
    120,
    120
    ) }}
    <p class="personal-card__name"><strong>{{ member.name }}</strong></p>
    <p class="personal-card__position">{{ member.position }}</p>
    <ul class="personal-card__social-list social-list">
        {% for social in member.social %}
        <li>
            <a class="button button--ghost button--small social-list__link" href="{{ social.link}}">
                <img class="social-list__personal-icon" src="{{ social.icon }}" alt="{{ social.alt }}">
            </a>
        </li>
        {% endfor %}
    </ul>
</li>