<label for="{{ field.label }}" class="contact-form__name">{{ field.label }}</label>
<br/>
<input class="contact-form__field"
    name="{{ field.name }}"
    id="{{ field.name }}"
    type="{{ field.type }}"
    placeholder="{{ field.placeholder }}"
    pattern="{{ field.pattern }}"
    required>
    <br />