<fieldset class="form-field">
    {% if field.label %}
    <legend class="form-field__label">{{ field.label }}</legend>
    {% endif %}
    {% for option in field.options %}
    <p class="checkbox">
        <input 
            type="checkbox" 
            name="{{ field.name }}" 
            value="{{ option.value }}" 
            id="{{ option.name }}" 
            class="checkbox__input"
            {% if option.disabled %}disabled{% endif %}
            {% if option.checked %}checked{% endif %} 
        />
        <label for="{{ option.name }}" class="checkbox__label">
            {{ option.label }}
        </label>
    </p>
    {% endfor %}
</fieldset>