<p class="radio">
    <input
        type="radio"
        name="{{ field.name }}"
        value="{{ option.value }}"
        id="{{ field.name }}_{{ option.value }}"
        class="radio__input"
        {% if option.disabled %}disabled{% endif %}
        {% if option.checked %}checked{% endif %}
    />
    <label for="{{ field.name }}_{{ option.value }}" class="radio__label">
        {{ option.label }}
    </label>
</p>
