<fieldset class="form-field">
    <legend class="form-field__label">{{ field.label }}</legend>
    {% for option in field.options %}
    <p class="radio">
        <input type="radio" name="{{ field.name }}" value="{{ option.value }}" id="{{ option.name }}"
               class="radio__input" 
               {% if option.disabled %}disabled{% endif %}
               {% if option.checked %}checked{% endif %} />
        <label for="{{ option.name }}" class="radio__label">{{ option.label }}</label>
    {% endfor %}
    </p>
</fieldset>